body
{
    margin: auto;
    background-color: black;

}
div#corpo
{
    background-color: black;
    color: yellow;
    width: 600px;
    height: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 55px yellow;
    border-radius: 25px;
}
/*TABLE*/
table.listagem
{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}

table.listagem tr
{
    height: 50px;

}
table.listagem td
{
    /*border:  2px solid #fff;*/
    padding: 10px;
}
table.listagem  tr:nth-child(even)
{
    background-color: rgb(208, 211, 221);
}
table.listagem td:nth-child(1)
{
    width: 50px;
}
table.listagem td:nth-child(3)
{
    width: 90px;
}

/*==================================================================================*/
img.mini
{
    height: 80px;
}
img.grande
{
    width: 120px;
}
img.icon
{
    position: absolute;
    left: 400px;
    top: 500px;
}
img.icon:hover
{
    border-color: aqua;
    width: 70px;
}